.pyg_form {
  padding:10px;
}
.pyg_btn{
  button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
  }
  a {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
}